<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426907820573-rkc7vd0pkif12u8v16ot59vdjm6lc2v5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426907820573-rkc7vd0pkif12u8v16ot59vdjm6lc2v5</string>
	<key>API_KEY</key>
	<string>AIzaSyDgcT4dzLYWBLH-Ctx6YhgZSpWKKZbwsSY</string>
	<key>GCM_SENDER_ID</key>
	<string>426907820573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davidreteneller.ncaa-prs</string>
	<key>PROJECT_ID</key>
	<string>ncaa-prs</string>
	<key>STORAGE_BUCKET</key>
	<string>ncaa-prs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426907820573:ios:fab20a5fec39c7942a9cf4</string>
</dict>
</plist>